# JWRITE CONFIGURATION FILE

# Choose which TeX engine you wish to compile with
TEX_ENGINE="xelatex"

# Set the file to save any logs in
LOG_FILE="$HOME/.local/share/jwrite/logs/jwrite_logs"

# The version information. Do not change this
VERSION="jwrite 0.1.0 - Pickwick (development)"

# Any templates will will taken from here
TEMPLATE_DIR="$HOME/.local/share/jwrite/templates"

# The location of the help file. Do not change this.
HELP_FILE="$HOME/.local/share/jwrite/help"

# Set to true to enable logging. Beware, this also saves the output of all files you compile, so can quickly get big.
# This is only really to be used if you experience a problem. Best to try to replicate the issue with a small sample manuscript.
LOG_ENABLED=false

# Defaults for variables
BOOK_TITLE="Book Title"
PART_TITLE="Part Title"
CHAPTER_TITLE="Chapter Title"
AUTHOR="Author"
LANG="en"
PUB_DATE="01/01/1970"
